@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

header {
  background-color: black;
  padding: 60px;
}

header h1 {
    color: white;
    text-align: center;
    font-style: 'https://fonts.googleapis.com/css2?family=Passion+One&display=swap';
}

header p {
    color: white;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}